@font-face{
    font-family: BeVietnam;
    src: url("../fonts/Be_Vietnam/BeVietnam-Regular.ttf");
}

@font-face{
    font-family: SourceSansPro;
    src: url("../fonts/Source_Sans_Pro/SourceSansPro-Regular.ttf");
}

@font-face {
    font-family: RockSalt;
    src: url("../fonts/Rock_Salt (1)/RockSalt-Regular.ttf");
}

body{
    margin: 0;
    font-family: SourceSansPro;
}

header{
    background-color: #5e5c5c;
    font-family: BeVietnam;
    font-size: 20px;
    display: flex;
    width: 100%;
    position: fixed;
    height: 100px;
    top: 0;
}

header #header_container{
    width: 100%;
    display: flex;
}

header #header_container #logo{
    flex: 1;
}

header #header_container #logo img{
    height: 99px;
    padding-left: 50px;
}

header #header_container nav{
    flex: 4;
    margin-top: 20px;
}

header #header_container nav ul{
    list-style: none;
    width: 100%;
    display: flex;
}

header #header_container nav ul li{
    flex: 1;
}

header #header_container nav ul li#current a{
    color: #d3f3d7;
}

header #header_container nav ul li a{
    text-decoration: none;
    color: #a7d3ac;
}

header #header_container nav ul li a:hover{
    color: #6aa371;
}

header #header_container nav ul li a:active{
    text-decoration: underline;
}

main {
    margin-top: 100px;
    min-height: 500px;
    background-color: #ecebeb;
}

main #search_bar #search_write{
    flex: 3;
}

main #search_bar #search_write input[type="search"]{
    border-color: #707070;
    border-width: thin;
    background-color: rgba(255, 255, 255, 0.84); /* #ffffff */
    color: rgba(112, 112, 112, 0.84); /* #707070 */
    width: 100%;
    height: 80px;
    font-size: 23px;
    padding: 10px;
}

main #search_bar #search_write input[type="search"]:focus{
    border: #707070 3px solid;
}

main #search_bar #search_click{
    flex: 1;
}

main #search_bar #search_click input[type="button"]{
    border-color: #707070;
    border-width: thin;
    background-color: #6AA371;
    width: 100%;
    height: 80px;
    font-size: 18px;
    padding: 10px;
}

main #search_bar #search_click input[type="button"]:hover{
    background-color: #d3f3d7;
    cursor: pointer;
}

main #search_bar #search_click input[type="button"]:active{
    background-color: #6aa371;
    cursor: pointer;
}

main #headline{
    background-color: #a7d3ac;
    /* height: 80px; */
    height: 5vw;
    text-align: center;
    color: #ffffff;
    font-family: RockSalt;
    /* font-size: 38px; */
    font-size: 2.05vw;
}

main #headline span{
    margin: 60px;
}

main #index_container{
    background-image: url("../images/index.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 0%;
    min-height: 703px;
    min-width: 100%;
}

main #index_container #search_bar{
    width: 60%;
    margin: auto;
    display: flex;
    padding-top: 250px;
}

main #about_container{
    display: flex;
    margin-left: 40px;
    margin-right: 40px;
    min-height: 600px;
}

main #about_container #about_text{
    flex: 2;
    margin-top: 40px;
}

main #about_container #about_text h1{
    color: #707070;
    font-size: 35px;
    margin-bottom: 40px;
}

main #about_container #about_text p{
    color: #707070;
    font-size: 20px;
    line-height: 2;
    margin-bottom: 60px;
}

main #about_container #about_img{
    flex: 1;
    margin-top: 40px;
}

main #about_container #about_img img{
    width: 350px;
    margin-top: 20px;
    float: right;
}

main #search_area{
    width: 60%;
    padding-top: 20px;
    margin: auto;
}

main #search_area #search_bar{
    width: 100%;
    display: flex;
}

main #search_area #search_attributes{
    height: 215px;
    width: 100%;
    border: 1px solid black;
    background-color: white;
    display: flex;
}

main #search_area #search_attributes #attributes-diet{
    margin-left: 15px;
    padding-left: 40px;
    padding-right: 40px;
    flex: 1;
}

main #search_area #search_attributes #attributes-allergies{
    padding-left: 40px;
    padding-right: 40px;
    flex: 1;
}

main #search_area #search_attributes #attributes-other{
    padding-left: 40px;
    padding-right: 40px;
    flex: 1;
}

main #recipe_container{
    /* padding-top: 0px; */
    width: 60%;
    margin: auto;
    min-height: 350px;
    padding-bottom: 40px;
}

main #recipe_container .recipe{
    width: 100%;
    display: flex;
    margin: 50px 0px 0px 0px;
    height: 200px;
    background-color: #ffffff;
    box-shadow: 5px 5px 8px #A9A9A9;
}

main #recipe_container .recipe .recipe-text{
    font-size: 20px;
    padding: 0px 10px 10px 10px;
    flex: 3;
}

main #recipe_container .recipe .recipe-text h4{
    font-size: 23px;
}

main #recipe_container .recipe .recipe-image{
    /* padding: 10px; */
    flex: 2;
}

main #recipe_container .recipe .recipe-image img{
    width: 200px;
    float: right;
}

main #newsletter_area{
    width: 60%;
    margin: auto;
    height: 60px;
    padding-bottom: 40px;
}
main #newsletter_area #newsletter{
    display: flex;
    padding-bottom: 10px;
}

main #newsletter_area #newsletter #newsletter_write{
    flex: 3;
}

main #newsletter_area #newsletter #newsletter_write input[type="search"]{
    border-color: #707070;
    border-width: thin;
    background-color: rgba(255, 255, 255, 0.84); /* #ffffff */
    color: rgba(112, 112, 112, 0.84); /* #707070 */
    width: 100%;
    height: 100%;
    font-size: 23px;
    /* padding: 10px; */
    padding-left: 10px;
}

main #newsletter_area #newsletter #newsletter_write input[type="search"]:focus{
    border: #707070 3px solid;
}

main #newsletter_area #newsletter #newsletter_click{
    flex: 1;
}

main #newsletter_area #newsletter #newsletter_click input[type="button"]{
    border-color: #707070;
    border-width: thin;
    background-color: #6AA371;
    width: 100%;
    height: 100%;
    font-size: 18px;
    padding: 10px;
}

main #newsletter_area #newsletter #newsletter_click input[type="button"]:hover{
    background-color: #d3f3d7;
    cursor: pointer;
}

main #newsletter_area #newsletter #newsletter_click input[type="button"]:active{
    background-color: #6aa371;
    cursor: pointer;
}

main #newsletter_area span#news_error{
    display: none;
    /* display: block; */
    color: #FF0000;
    height: 0;
}
main #newsletter_area span#news_success{
    display: none;
    /* display: block; */
    color: #00BB00;
    height: 0;
}

main #contact_container{
    width: 70%;
    margin: auto;
    padding-top: 10px;
    min-height: 600px;
}

main #contact_container h1{
    color: #707070;
    font-size: 35px;
    margin-bottom: 40px;
    margin-top: 40px;
}

main #contact_container .contactFields{
    margin-bottom: 40px;
}

main #contact_container .contactFields input[type="text"]{
    border-color: #707070;
    border-width: thin;
    border-radius: 2px;
    background-color: #dbdbdb;
    width: 100%;
    height: 20px;
    font-size: 15px;
    padding: 10px;

}

main #contact_container .contactFields input[type="text"]:focus{
    border: #707070 3px solid;
}

main #contact_container .contactFields span.error{
    display: none;
    font-size: 15px;
    color: #FF0000;
    height: 0;
}

main #contact_container .contactFields textarea{
    border-color: #707070;
    border-width: thin;
    border-radius: 2px;
    background-color: #dbdbdb;
    width: 100%;
    font-size: 15px;
    padding: 10px;

}

main #contact_container .contactFields textarea:focus{
    border: 3px solid;
}

main #contact_container input[type="submit"]{
    border-color: #707070;
    border-width: thin;
    border-radius: 2px;
    background-color: #a7d3ac;
    color: #707070;
    font-size: 20px;
    width: 100px;
    padding: 5px;
}

main #contact_container input[type="submit"]:hover{
    background-color: #d3f3d7;
}

main #contact_container input[type="submit"]:active{
    background-color: #6aa371;
}

main #contact_success_container{
    padding-top: 50px;
    display: flex;
    width: 90%;
    margin: auto;
    min-height: 550px;
}

main #contact_success_container #contact_success_text{
    flex: 4;
}

main #contact_success_container #contact_success_text h1{
    color: #707070;
    font-size: 35px;
    /* margin-top: 100px; */
}

main #contact_success_container #contact_success_text h2{
    color: #707070;
    font-size: 30px;
    margin-bottom: 60px;
}

main #contact_success_container #contact_success_text p{
    color: #707070;
    font-size: 25px;
    line-height: 2;
}

main #contact_success_container #contact_success_img{
    flex: 3;
}

main #contact_success_container #contact_success_img img{
    width: 70%;
    float: right;
}

footer{
    background-color: #a7d3ac;
    height: 80px;
}

footer #social_media{
    height: 100%;
    width: 400px;
    float: right;
    margin-right: 100px;
}

footer #social_media img{
    height: 70%;
    margin-top: 12px;
    margin-left: 40px;
}

footer #social_media img:hover{
    filter: brightness(60%);
}


@media screen and (max-width: 1000px) {

    header{
        font-size: 16px;
    }
    header #header_container #logo{
        flex: 1;
    }
    header #header_container #logo img{
        padding-left: 10px;
    }
    header #header_container nav{
        flex: 6;
    }

    main #index_container #search_bar{
        width: 90%;
        padding-top: 200px;
    }

    main #search_area{
        width: 95%;
    }

    main #search_area #search_attributes #attributes-diet{
        margin-left: 5px;
        padding-left: 10px;
        padding-right: 10px;
        flex: 1;
    }

    main #search_area #search_attributes #attributes-allergies{
        padding-left: 10px;
        padding-right: 10px;
        flex: 1;
    }

    main #search_area #search_attributes #attributes-other{
        padding-left: 10px;
        padding-right: 10px;
        flex: 1;
    }

    main #about_container{
        flex-direction: column;
        padding-bottom: 20px;
    }

    main #about_container #about_img{
        display: flex;
    }

    main #about_container #about_img img{
        flex: 1;
    }

    main #recipe_container{
        width: 95%;
        padding-bottom: 20px;
    }

    main #contact_container{
        width: 90%;
    }

    main #contact_container .contactFields input[type="text"]{
        width: 96.5%;
        padding: 7px 0px 7px 4px;
        /* padding-left: 4px; */
    }

    main #contact_container .contactFields textarea{
        width: 96.5%;
        padding: 7px 0px 7px 4px;
    }

    main #contact_success_container{
        /* padding-top: 50px;
        display: flex;
        width: 90%;
        margin: auto;
        min-height: 550px; */
        flex-direction: column;
    }

    main #contact_success_container #contact_success_img img{
        float: none;
        width: 60%;
        /* margin: auto; */

        margin-left: auto;
        margin-right: auto;
        display: block;
    }

    footer #social_media{
        float: none;
        height: 100%;
        width: 240px;
        margin: auto;
    }

    footer #social_media img{
        height: 70%;
        margin-top: 10px;
        margin: 10px;
    }





}
